*{
    margin: 0;
    padding: 0;
}
.bg {
    background-image: url(./bg.jpg);
    background-attachment: fixed;
    /* background: linear-gradient(#0082e6,#9b54f7); */
    height: 100vh;
    background-size: cover;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #017ad6,#6339fc);
    opacity: .8;
    position: absolute;
}
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0;
    margin: 0;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 60px;
}
.wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0;
    margin: 0;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 60px;
}
span:before {
    content: '';
    animation: animate infinite 15s;
}
@keyframes animate {
    0%{
        content: 'Computer Science Student';
    }
    20%{
        content: 'Knows about C/JAVA/Python';
    }
    40%{
        content: 'Knows about HTML/CSS';
    }
    60%{
        content: 'Knows Android App Development';
    }
    80%{
        content: 'Knows about Cyber Security';
    }
    100%{
        content: 'Knows about React JS';
    }
}